{% extends 'base.html' %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-4 mb-5">
    
    {% comment %} <form method="POST" action="{% url 'tags_create' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="tagtitle">Tag Title</label>
        <input type="text" class="form-control" id="tagtitle">
      </div>
      <div class="form-group">
        <label for="tagslug">Slug</label>
        <input type="text" class="form-control" id="tagslug">
      </div>
      <button type="submit" class="btn btn-primary float-right">Submit</button>
    </form> {% endcomment %}

    <form  method="POST" action="{% url 'post_create' %}">
      {% csrf_token %}

      {% for fields in form %}
      {% if fields.label != 'Status' %}
      <div class="form-group">
        {% if fields.errors %}
        
        <div class="alert alert-danger">{{fields.errors}}</div>
        
        {% endif %}
        {{fields.label}}
        {{fields}}
      </div>
      {% else %}
      <div class="form-check">
      {% if fields.errors %}
        
        <div class="alert alert-danger">{{fields.errors}}</div>
        
        {% endif %}
        {{fields.label}}
        {{fields}}
      </div>
      {% endif %}
      
      
      {% endfor %}

      <button type="submit" class="btn btn-primary float-right">Submit</button>
    
    </form>
    
    </div>
  </div>
</div>


{% endblock content %}