{% extends "base.html" %} 
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Learned or Doomed </h3>
                    <p class="text-light">Those that fail to learn from history are doomed to repeat it.
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 float-left">
            {% for post in page.object_list %}
            {% include 'blog/include/card_post_template.html' %}
            {% endfor %}
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>

<div class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item {% if not prev_page_url %}disabled{% endif %}"><a class="page-link" href="{{prev_page_url}}">Prev</a></li>
            {% for n in page.paginator.page_range  %}
            {% if page.number == n %}
            <li class="page-item active" aria-current='page'><a class="page-link" href="/?page={{n}}">{{n}}</a></li>
            {% elif n > page.number|add:-3 and n < page.number|add:3 %}
            <li class="page-item"><a class="page-link" href="/?page={{n}}">{{n}}</a></li>
            {% endif %}
            {% endfor %}
            <li class="page-item {% if not next_page_url %}disabled{% endif %}"><a class="page-link" href="{{next_page_url}}">Next</a></li>
        </ul>
    </nav>
</div>
{%endblock%}